body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 20px;
  background-color: rgb(176, 217, 237);
  /* background-color: cadetblue; */
}

header{
  justify-content: center;
  text-align: center;
  border: 5px solid black;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

#tema { 
  font-family: 'Times New Roman', Times, serif;
}

p{
  line-height: 1.5;
  font-size: 20px;
}

#PrimerP {
  text-align: center;
}

.img {
  height: 250px;
  display: flex;
  justify-content: center;
}

.bloques{
  display: flex;
  text-align: center;
  padding: 15px;
}

footer{
  text-align: left;
  border: 5px solid black;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  margin: 0;
  padding: 5px;
}

